h1 {
    font-family: 'Times New Roman', serif;
    font-size: 32px;
    color: green;
    text-align: right;
    text-transform: uppercase;
}
th {
    background-color: darkorange;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}
td {
    background-color: lightgray;
    padding: 8px;
    font-family: monospace;
    text-align: left;
}
